<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Chestionare</title>
    <link rel="stylesheet" href="css/stil.css">
    <script type="text/javascript" src="js/client-side.js"></script>
</head>
<body onload="laPornire()">
    <nav id="navig">
        <img src="images/logo.png" alt="Logo" width="100" height="100">
        <p id="prompter">Pagina de start</p>
    </nav>
    <main id="continut">
        <%- body %>
    </main>
    <footer>
    </footer>    
</body>