<h1>Aveti la dispozitie 30 minute pentru a raspunde la 26 intrebari</h1>
<h1>Testul se va incheia automat odata ce timpul a expirat sau dupa ce ati raspuns la 5 intrebari gresite</h1>
<div class="container">
    <input type="submit" value="Submit" id="buttonStart" onClick="LoadQuestion()">
</div>